body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

video {
    display: none;
}

.hidden {
    display: none;
}

input {
    width: 50px;
    margin: 3px;
}
